<h1>Edit artcle</h1>
<% if @article.errors.any? %>
<div id='error_explanation'>
  <h2>
    <%= pluralize(@article.errors.count, "error") %> prohibited this data from being saved :
  </h2>
  <ul>
    <% @article.erros.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_with(model: @article, local: true) do |form| %>
<P> 
<%= form.label :nama %><br>
<%= form.text_field :nama %>
</p> 
<P>
<%=form.label :email %><br>
<%= form.text_field :email %>
</p>
<P>
<%= form.label :no_telp %><br>
<%= form.text_field :no_telp %>
</p>
<P>
<%= form.label :alamat %><br>
<%= form.text_area :alamat %>
</p>
<%= form.submit %>
<% end %>
<%= link_to 'back', articles_path %>