<%= link_to 'new article', new_article_path %>

<table class="table table-dark">
	<thead>
		<tr>
		<th>nama</th>
		<th>E-mail</th>
		<th>No Telp</th>
		<th>Alamat</th>
		<th></th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
		<tr>
			<td><%= article.nama %></td>
			<td><%= article.email %></td>
			<td><%= article.no_telp %></td>
			<td><%= article.alamat %></td>
			<td><%= link_to 'show' , article_path(article) %></td>
			<td><%= link_to 'edit', edit_article_path(article) %></td>
			<td><%= link_to 'destory', article_path(article), method: :delete, data: { confirm: 'are you sure ?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>