<%= form_with scope: :article, url: articles_path, local: true do |form| %>
<% if @article.errors.any? %>
<div id='error_explanation'>
  <h2>
    <%= pluralize(@article.errors.count, "error") %> prohibited this data from being saved :
  </h2>
  <ul>
    <% @article.erros.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <p>
    <%= form.label :nama %><br>
    <%= form.text_field :nama %>
  </p>
 
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :no_telp %><br>
    <%= form.text_field :no_telp %>
  </p>
 
  <p>
    <%= form.label :alamat %><br>
    <%= form.text_area :alamat %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'back', articles_path %>