<p>
<strong>Nama : </strong>
<%= @article.nama %>
</p>
<p>
<strong>E-mail : </strong>
<%= @article.email %>
</p>
<P>
<strong>No Telp : </strong>
<%= @article.no_telp %>
</p>
<P>
<strong>Alamat : </strong>
<%= @article.alamat%>
</p>
<h2>comments</h2>
<%= render @article.comments %>
<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<P>
	<%= form.label :commenter %><br>
	<%= form.text_field :commenter %>
</P>
<p>
	<%= form.label :body %><br>
	<%= form.text_area :body %>
</P>
<p>
	<%= form.submit %>
</p>
<% end %>

<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'back', articles_path %>